# Laravel
kedai_kopi/vendor/
kedai_kopi/node_modules/

kedai_kopi/storage/*.key

kedai_kopi/storage/logs/*
!kedai_kopi/storage/logs/.gitignore

kedai_kopi/storage/framework/cache/*
!kedai_kopi/storage/framework/cache/.gitignore

kedai_kopi/storage/framework/sessions/*
!kedai_kopi/storage/framework/sessions/.gitignore

kedai_kopi/storage/framework/views/*
!kedai_kopi/storage/framework/views/.gitignore

kedai_kopi/bootstrap/cache/*
!kedai_kopi/bootstrap/cache/.gitignore

kedai_kopi/.env

# Python
ml-service/.venv/
__pycache__/
ml-service/**/*.pyc
ml-service/**/*.pyo

.vscode/
hot

.DS_Store
Thumbs.db

*.log